run = [
    "deno",
    "run",
    "--lock=lock.json",
    "--lock-write",
    "--allow-all",
    "index.ts"
]

hidden = [".deno"]

entrypoint = "index.ts"

# Unpublished requires configuration
[languages.deno]
pattern = "**/*.{ts,js}"
[languages.deno.languageServer]
start = ["deno", "lsp", "-q"]



[env]
DENO_DIR = "/home/runner/${REPL_SLUG}/.deno"

[nix]
channel = "stable-22_05"